#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}
#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
	
    right: 1em;
    text-align: left;
}
#copy a {
    color: #fff;
}
/*Css de ubicacion del mapa y de el cuadro de informacion*/
#canvas {
    height: 600px;
    float:bottom;
    left: 50%;
    margin: -250px 0 0 -300px;
    position: absolute;
    top: 15%;
    width: 600px;
}
#paper {
    height: 400px;
    left: 0;
    position: absolute;
    top: 40%;
    width: 600px;
}
/*Estilos del cuadro de informacion*/
#sucre, #zulia, #falcon, #cojedes, #carabobo, #aragua, #lasaves, #roques, #orchila, #tortuga, #blanquilla, #hermanos, #nuevaesparta, #testigos, #guarico, #apure, #sucre, #anzoategui, #monagas, #bolivar, #amacuro, #amazonas, #lara, #portuguesa, #yaracuy, #miranda, #falcon, #vargas, #capital, #trujillo, #tachira, #barinas, #merida {
    display: none;
    height: 400px;
    overflow: auto;
    position: absolute;
    left: 12%;
    top: 200px;
    width: 500px;

}
h1{
    color: rgba(30, 71, 146, 0.952);
    text-align: center;
}
h2 {
    
    color: rgba(18, 48, 105, 0.952);
    text-align: left;
}